{{form(form)}}
            {% if verb %}
                <div>
                    <p>Word : {{ verb.word }}</p>
                    <p>Reading : {{ verb.reading }}</p>
                    <p>Type : {{ verb.type }}</p>
                    <p>Definition : {{ verb.definition }}</p>
                    <p>Common : {% if verb.common %}true{% else %}false{% endif %}</p>
                </div>
            {% endif %}