<div id="settings-sidenav" class="sidenav">

    <div class="sidenav-title"><i class="material-icons">settings</i>Settings</a><a href="#"
            class="sidenav-close sidenav-close-top"><i class="material-icons">close</i></a></div>

    <ul>
        <li><a href="#" class="sidenav-item sidenav-trigger" data-target="conjugation-sidenav"><i
                    class="material-icons">tune</i>Conjugation<i
                    class="material-icons collapsible-arrow">keyboard_arrow_right</i></a></li>
        <li><a href="#" class="sidenav-item sidenav-trigger" data-target="verbs-sidenav"><i
                    class="material-icons">speaker_notes</i>Verbs<i
                    class="material-icons collapsible-arrow">keyboard_arrow_right</i></a></li>
        <li><a href="#" class="sidenav-item sidenav-trigger" data-target="display-sidenav"><i
                    class="material-icons">translate</i>Display<i
                    class="material-icons collapsible-arrow">keyboard_arrow_right</i></a></li>
        <li><a href="#" class="sidenav-item sidenav-trigger" data-target="sound-sidenav"><i
                    class="material-icons">volume_up</i>Sound<i
                    class="material-icons collapsible-arrow">keyboard_arrow_right</i></a></li>
    </ul>

</div>

<div id="conjugation-sidenav" class="sidenav">

    <div class="sidenav-title"><i class="material-icons">tune</i>Conjugation</a><a href="#"
            class="sidenav-close sidenav-close-top"><i class="material-icons">keyboard_arrow_left</i></a></div>

    <ul>
        <li class="sidenav-item">
            <div>Formality :</div>
            <div class="formality-settings">
                <label>
                    <input class="settings-input" name="formality" type="radio" checked value="both" {% if settings.formality == "both" %}checked{% endif %} />
                    <span>Both</span>
                </label>
                <label>
                    <input class="settings-input" name="formality" type="radio" value="plain" {% if settings.formality == "plain" %}checked{% endif %} />
                    <span>Plain</span>
                </label>
                <label>
                    <input class="settings-input" name="formality" type="radio" value="polite" {% if settings.formality == "polite" %}checked{% endif %} />
                    <span>Polite</span>
                </label>
            </div>
        </li>
        <li class="sidenav-item">
            <div>Negation :</div>
            <div class="negation-settings">
                <label>
                    <input class="settings-input" name="negation" type="radio" checked value="both" {% if settings.negation == "both" %}checked{% endif %} />
                    <span>Both</span>
                </label>
                <label>
                    <input class="settings-input" name="negation" type="radio" value="positive" {% if settings.negation == "positive" %}checked{% endif %} />
                    <span>Positive</span>
                </label>
                <label>
                    <input class="settings-input" name="negation" type="radio" value="negative" {% if settings.negation == "negative" %}checked{% endif %} />
                    <span>Negative</span>
                </label>
            </div>
        </li>
        <li class="sidenav-item">
            <div>Tenses :</div>
            <div class="tense-settings">

                <div>
                    <label>
                        <input class="settings-input filled-in" type="checkbox" name="tenses.pres" {% if settings.tenses.pres %}checked{% endif %} />
                        <span>Present</span>
                    </label>
                </div>

                <div>
                    <label>
                        <input class="settings-input filled-in" type="checkbox" name="tenses.past" {% if settings.tenses.past %}checked{% endif %} />
                        <span>Past</span>
                    </label>
                </div>

                <div>
                    <label>
                        <input class="settings-input filled-in" type="checkbox" name="tenses.vol" {% if settings.tenses.vol %}checked{% endif %} />
                        <span>Volitional</span>
                    </label>
                </div>

                <div>
                    <label>
                        <input class="settings-input filled-in" type="checkbox" name="tenses.imp" {% if settings.tenses.imp %}checked{% endif %} />
                        <span>Imperative</span>
                    </label>
                </div>

                <div>
                    <label>
                        <input class="settings-input" class="filled-in" type="checkbox" name="tenses.prov" {% if settings.tenses.prov %}checked{% endif %} />
                        <span>Conditional</span>
                    </label>
                </div>

            </div>
        </li>
    </ul>
</div>

<div id="verbs-sidenav" class="sidenav">

    <div class="sidenav-title"><i class="material-icons">speaker_notes</i>Verbs</a><a href="#"
            class="sidenav-close sidenav-close-top"><i class="material-icons">keyboard_arrow_left</i></a></div>
    
    <ul>
        {% for verb in verbs %}
        <li class="sidenav-item verb-item">
            
            <label>
                <input class="filled-in settings-input" name="verbs" value="{{ verb.id }}" type="checkbox" {% if settings.verbs[verb.id] is defined %}checked{% endif %} />
                <span>
                    <div class="verb-item-word japanese">{{verb.word}}</div>
                    <div class="verb-item-reading"><span class="japanese">{{verb.reading}}</span> ({{verb.romaji}})</div>
                    <div class="verb-item-type">{{verb.type}} verb</div>
                    <div class="verb-item-definition">" {{verb.definition}} "</div>
                    {# <div class="verb-item-tags">common : {% if verb.common %}true{% else %}false{% endif %}</div> #}
                </span>
            </label>

        </li>
        {% endfor %}
    </ul>

</div>

<div id="display-sidenav" class="sidenav">

    <div class="sidenav-title"><i class="material-icons">translate</i>Display</a><a href="#"
            class="sidenav-close sidenav-close-top"><i class="material-icons">keyboard_arrow_left</i></a></div>

    <ul>
        <li class="sidenav-item">
            <div>
                <label>
                    <input name="romaji" class="filled-in settings-input" type="checkbox" {% if settings.romaji %}checked{% endif %} />
                    <span>Show romaji</span>
                </label>
            </div>
            <div>
                <label>
                    <input name="furigana" class="filled-in settings-input" type="checkbox" {% if settings.furigana %}checked{% endif %} />
                    <span>Show furigana</span>
                </label>
            </div>
            <div>
                <label>
                    <input name="type" class="filled-in settings-input" type="checkbox" {% if settings.type %}checked{% endif %} />
                    <span>Show verb type</span>
                </label>
            </div>
            <div>
                <label>
                    <input name="definition" class="filled-in settings-input" type="checkbox" {% if settings.definition %}checked{% endif %} />
                    <span>Show definition</span>
                </label>
            </div>
        </li>
    </ul>

</div>

<div id="sound-sidenav" class="sidenav">

    <div class="sidenav-title"><i class="material-icons">volume_up</i>Sound</a><a href="#"
            class="sidenav-close sidenav-close-top"><i class="material-icons">keyboard_arrow_left</i></a></div>

    <ul>
        <li class="sidenav-item">
            <div>
                <label>
                    <input name="sound" class="filled-in settings-input" type="checkbox" {% if settings.sound %}checked{% endif %} />
                    <span>Enable sound</span>
                </label>
            </div>
        </li>
    </ul>

</div>